// @import "reset-css/sass/reset";
@use "sass:map";
@use "@angular/material" as mat;

@import "normalize.css/normalize.css";

@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import url("//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./fonts/_uxf-icon-font";
@import "./theming/_themes";
@import "./_overrides";

@include mat.core();

$app-typography: (
  plain-family: Roboto,
  brand-family: Roboto,
  bold-weight: 900,
  medium-weight: 500,
  regular-weight: 300,
  use-system-variables: true,
);

$theme: mat.define-theme(
  (
    color: (
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: minimum,
    ),
  )
);

@include mat.typography-hierarchy($theme);

:root {
  font-size: 14px;
  color: #333;
  line-height: 18px;

  @include mat.system-level-typography($theme);
  @include mat.system-level-elevation($theme);
  @include mat.system-level-shape($theme);
  @include mat.system-level-motion($theme);
  @include mat.system-level-state($theme);

  body {
    &.cloudapp-theme-- {
      @each $color, $theme in $cloudapp-color-map {
        &#{$color} {
          @include mat.system-level-colors($theme);
        }
      }
    }
    &[class*="cloudapp-theme"] {
      @include _system-overrides();
      @include mat.all-component-bases($theme);
      @include mat.all-component-typographies($theme);
      @include mat.all-component-densities($theme);
      @include _mdc-overrides();
      @include mat.all-component-colors($theme);
    }
  }
}

@import "./_cloudapp";
